
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    position: fixed;
    background-color: #f4f4f491;
    top: 0;
    left: 0;
    width: 100%;
    color: rgb(255, 255, 255);
    padding: 10px 0;
    z-index: 10;
  }

  html {
    scroll-behavior: smooth;
  }

  nav {
    scroll-behavior: smooth;
  }
  
  header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  header nav ul li {
    margin: 0 15px;
  }
  
  header nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  header nav ul li a:hover {
    text-decoration: underline;
  }

  /* Home Section */
  #home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(211, 229, 237);
  }

  .home {
    width: 65%;
    text-align: right;
    justify-content: center;
    display: center;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
  }

  .main-logo {
    box-shadow: none;
    border-color: rgb(211, 229, 237);
    padding-top: 5%;
    width: clamp(200px, 50vw, 400px);
  }

  .home h2 {
    margin-top: -30px;
    margin-bottom: 5px;
    font-size: clamp(20px, 1.5vw, 50px);
    min-width: 65%;
  }

  .home p {
    margin-bottom: 10px;
    font-size: clamp(10px, 1.5vw, 15px);
    min-width: 65%;
    padding-bottom: 15px;
  }

  .home input {
    padding: 10px;
    padding-right: 70px;
    position: static;
    border: 1.5px solid white;
    width: clamp(50px, 50vw, 400px);
    border-radius: 10px;
  }

  .home button {
    padding: 10px;
    border-radius: 10px; 
    font-size: medium;
    -webkit-text-fill-color: #f4f4f4;
    background-color: #323232;
    border: 1.5px solid #bc97ad;
    transition: border-color 0.3s;
    transition: transform 0.3s;
    margin-left: 10px;
  }

  .home button:hover {
    border-color: black;
    transform: scale(1.05);
  }
  
  /* Newsletters Section */
  #newsletters {
    width: 65%;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .newsletter {
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: none;
    text-align: left;
  }
  
  .newsletter h2 {
    color: #333;
    position: static;
    font-size: clamp(20px, 1.5vw, 50px);
  }
  
  .newsletter .date {
    font-size: 0.9em;
    color: #777;
    padding-bottom: 10px;
  }
  
  .newsletter .summary {
    font-size: 1.1em;
    color: #555;
  }

  .newsletter-image {
    width: 100%; 
    height: auto;
    margin-top: 20px;  
    margin-bottom: 40px; 
  }
  
  .read-more {
    color: #000000;
    text-decoration: none;
  }
  
  .read-more:hover {
    text-decoration: underline;
  }

  /* Newsletters Section */
  #past-newsletters {
    width: 65%;
    justify-content: center;  /* Centers the content horizontally */
    align-items: flex-end;  /* Centers the content vertically */
    position: relative;  /* Allows absolute positioning of the button */
    margin: 0 auto; 
    padding-bottom: 10%;
  }

  .past-newsletters h2 {
    font-size: clamp(20px, 1.5vw, 50px);
  }

  .past-newsletters .past {
    font-size: 0.9em;
    color: #777;
    padding-bottom: 10px;
  }

  .scroll-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    gap: 40px;
  }
  
  .scroll-container a {
    display: inline-block;
  }
  
  .scroll-container img {
    width: clamp(50px, 50vw, 400px);
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
  }
  
  .scroll-container img:hover {
    transform: scale(1.1);
  }


  /* About */
  #about {
    max-width: 100%;
    margin: 0 auto;
    background-color: #D0E3E8;
  }

  .about {
    width: 65%;
    display: flex;
    align-items: center;
    margin: 20px auto;
    margin-top: 70px;
    padding: 60px 20px;
    /* max-width: 800px; */
  }

  .about-text-container {
    margin-left: 7%;
    flex: 1;
    text-align: right;
  }

  .about h2 {
    margin-inline-end: auto;
    margin-bottom: 10px;
    font-size: clamp(20px, 1.5vw, 50px);
  }

  .about-text {
    margin: 0 auto;
    line-height: 1.6;
    font-size: clamp(7px, 1.5vw, 15px);
    max-width: fit-content
  }

  .about-image {
    width: 40%; 
    max-width: 350px;
    margin-inline-end: auto;
    height: auto; 
    border-radius: 10px;
  }

  #contact {
    width: 65%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .real-btn3 {
    width: 100%;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    background: #1E1E1E;
    padding: 10px 20px;
    border: 1.5px solid #000000;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
  }

  input, textarea {
      font-family: "Poppins", sans-serif;
      font-size: clamp(10px, 2vw, 16px);;
      display:inline-block;
      width: 100%;
      max-width: 100%;
      box-sizing: border-box;
      margin-bottom: 10px;   
      padding: clamp(10px, 1vw, 30px);
      border: 1px solid #000000;
      border-radius: 15px;
  }


  /* Stay in the Loop */
  #stay-in-loop {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .stay-in-loop {
    text-align: center;
    background-color: #efede5;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 20px;
    padding-left: auto;
    padding-right: auto;
  }

  .stay-in-loop h2 {
    text-align: center;
    position: static;
    margin-top:inherit;
    font-size: clamp(20px, 1.5vw, 50px);
  }

  .stay-in-loop input {
    margin-inline-end: auto;
    padding: clamp(20px, 1vw, 30px);
    position: static;
    border: 1.5px solid white;
    width: clamp(200px, 50vw, 500px);
    max-height: 25px;
    border-radius: 10px;
    margin-right: 1%;
    margin-top:inherit;
    margin-bottom: inherit;
  }

  .stay-in-loop button {
    display: inline-flex;
    padding: 10px;
    border-radius: 10px; 
    position: static;
    font-size: medium;
    max-height: 49px;
    background-color: #323232;
    -webkit-text-fill-color: #f4f4f4;
    border: 1.5px solid #323232;
    border: 1.5px solid #bc97ad;
    transition: border-color 0.3s;
    margin-top:inherit;
    margin-bottom: 25px;
    border: 1.5px solid #bc97ad;
    transition: border-color 0.3s;
    transition: transform 0.3s;
  }

  .stay-in-loop button:hover {
    border-color: black;
    transform: scale(1.05);
  }

  /* Footer */
  footer {
    text-align: center;
    background-color: #f4f4f4;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    position: static;
    width: 100%;
    bottom: 0;
  }
  
  footer a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: clamp(10px, 1.5vw, 30px);
  }
  
  footer a:hover {
    text-decoration: underline;
  }

    /* current newsletter view */
  .current-newsletter {
    text-align: center;
    background-color: #efede5;
    padding-top: 5%;
    padding-bottom: 5%;
  }

/* enlarge on hover */
.enlarge-on-hover {
  transition: transform 0.3s ease-in-out;
}

.enlarge-on-hover:hover {
  transform: scale(1.05);
}

/* enlarge text on hover */
.enlarge-text-on-hover {
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.enlarge-text-on-hover:hover {
    font-size: 1.1em;
}

  