
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #f4f4f4;
    color: white;
    padding: 10px 0;
  }
  
  header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  header nav ul li {
    margin: 0 15px;
  }
  
  header nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  header nav ul li a:hover {
    text-decoration: underline;
  }

  /* Home Section */
  #home {
    margin: 0 auto;
  }

  .home {
    background-color: rgb(211, 229, 237);
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
  }

  .main-logo {
    box-shadow: none;
    border-color: rgb(211, 229, 237);
    max-height: 400px;
  }

  .home h2 {
    margin-top: -10px;
    margin-bottom: 30px;
  }

  .home p {
    margin-bottom: 30px;
  }

  .home input {
    padding: 10px;
    padding-right: 70px;
    position: static;
    border: 1.5px solid white;
    min-width: 80px;
    border-radius: 10px;
  }

  .home button {
    padding: 10px;
    border-radius: 10px; 
    font-size: medium;
    background-color: #323232;
    border: 1.5px solid #bc97ad;
    transition: border-color 0.3s;
  }

  .home button:hover {
    border-color: black;
  }
  
  /* Newsletters Section */
  #newsletters {
    /* max-width: 1000px; */
    margin: 0 auto;
    text-align: center;
  }

  .newsletter {
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: none;
    text-align: center;
  }
  
  .newsletter h2 {
    color: #333;
    position: static;
  }
  
  .newsletter .date {
    font-size: 0.9em;
    color: #777;
    padding-bottom: 10px;
  }
  
  .newsletter .summary {
    font-size: 1.1em;
    color: #555;
  }

  .newsletter-image {
    width: 100%; 
    max-width: 1000px; 
    height: auto; 
    margin-bottom: 15px; 
  }
  
  .read-more {
    display: list-item;
    margin-top: 10px;
    color: #000000;
    text-decoration: none;
  }
  
  .read-more:hover {
    text-decoration: underline;
  }

  /* About */
  #about {
    max-width: 100%;
    margin: 0 auto;
  }

  .about {
    display: flex;
    background-color: #d9c0cf;
    margin: 0 auto;
    margin-top: 70px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .about h2 {
    margin-inline-end: auto;
  }

  .about-image {
    width: 40%; 
    max-width: 400px;
    margin-inline-end: auto;
    height: auto; 
    margin-left: auto;
  }


  /* Stay in the Loop */
  #stay-in-loop {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
  }

  .stay-in-loop {
    display: flex;
    background-color: #efede5;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    padding-left: auto;
    padding-right: auto;
  }

  .stay-in-loop h2 {
    position: static;
    margin-inline-start: auto;
    margin-right: 4%;
    margin-top:inherit;
    margin-bottom: inherit;
  }

  .stay-in-loop input {
    padding: 10px;
    padding-right: 70px;
    position: static;
    border: 1.5px solid white;
    min-width: 100;
    max-height: 25px;
    border-radius: 10px;
    margin-right: 1%;
    margin-top:inherit;
    margin-bottom: inherit;
    margin-inline-start: auto;
  }

  .stay-in-loop button {
    padding: 10px;
    border-radius: 10px; 
    position: static;
    font-size: medium;
    max-height: 49px;
    background-color: #323232;
    border: 1.5px solid #323232;
    border: 1.5px solid #bc97ad;
    transition: border-color 0.3s;
    margin-top:inherit;
    margin-bottom: inherit;
    margin-inline-end: auto;
  }

  /* Footer */
  footer {
    text-align: center;
    background-color: #f4f4f4;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    position: static;
    width: 100%;
    bottom: 0;
  }
  
  footer a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  